{% extends 'base.html.twig' %}

{% block title %}Visualisation d'un pharmacie{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ pharmacy.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                Stock
            </div>

            <table class="table table-bordered mt-3">
                <tr>
                    <td><b>Médicament</b></td>
                    <td><b>Quantité</b></td>
                    <td><b>A préparer</b></td>
                </tr>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.drug }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.quantityToPrepare }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="3">Aucun médicament en stock</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="text-center">
                <a class="btn btn-primary btn-sm" href="#">Commander</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                Déchets
            </div>

            <table class="table table-bordered mt-3">
                <tr>
                    <td><b>Médicament</b></td>
                    <td><b>Boite</b></td>
                    <td><b>Quantité</b></td>
                </tr>
                {% for pW in aListPillWaste %}
                    <tr>
                        <td>
                            {{ pW.name ~ ' ' ~ pW.milligram ~ ' G ' }}
                            {% if pW.type == 'gel' %}                    
                                Gélule
                            {% else %}
                                Comprimé
                            {% endif %}
                            </td>
                        <td>{{ pW.quantityPackage }}</td>
                        <td>{{ pW.quantity }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="2">Aucun médicament</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="text-center">
                <a class="btn btn-primary btn-sm" href="{{ path('app_pharmacy_convert_inbox', {'id': pharmacy.id}) }}">Convertir en boite</a>
            </div>
        </div>
    </div>

    {# aListPillWaste #}

    <a href="{{ path('app_pharmacy_index') }}">back to list</a>

    <a href="{{ path('app_pharmacy_edit', {'id': pharmacy.id}) }}">edit</a>

    {{ include('pharmacy/_delete_form.html.twig') }}
{% endblock %}
